@media screen and (max-width: 500px) {
    html,
    body {
        overflow-x: hidden;
    }

    .informers {
        flex-direction: column;
        row-gap: 10px;

        font-size: 14px;
    }

    .note {
        &-title {
            font-size: 16px;
        }

        &-text {
            font-size: 14px;
        }
    }

    .search-bar {
        padding: 0 10px 0;
    }

    .search-bar input {
        height: 45px;

        font-size: 16px;
    }

    .engine {
        width: 120px;

        font-size: 14px;
    }

    .engines-type-title {
        font-size: 20px;
    }
    
    .engines-clear {
        font-size: 12px;
    }

    .cards {
        gap: 20px;
    }

    .card {
        width: 160px;
        height: 175px;

        &-logo {
            margin: 10px 0 15px;
        }

        &-content--top {
            font-size: 12px;

            svg {
                height: 12px;
                width: 12px;
            }
        }

        &-content--middle {
            font-size: 20px;
            line-height: 20px;
        }

        &-content--bottom {
            font-size: 10px;
        }
    }
}